@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223 50% 8%;
    --foreground: 0 0% 100%;
    --card: 222 45% 13%;
    --card-foreground: 0 0% 100%;
    --popover: 222 45% 13%;
    --popover-foreground: 0 0% 100%;
    --primary: 40 89% 69%;
    --primary-foreground: 40 40% 15%;
    --secondary: 222 45% 13%;
    --secondary-foreground: 0 0% 100%;
    --muted: 222 45% 13%;
    --muted-foreground: 215 25% 69%;
    --accent: 222 45% 13%;
    --accent-foreground: 40 89% 69%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 45% 13%;
    --input: 222 45% 13%;
    --ring: 40 89% 69%;
    --radius: 0.75rem;
    --chart-1: 40 89% 69%;
    --chart-2: 160 60% 45%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 262 82% 57%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 5% 15%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 5% 15%;
    --sidebar-ring: 262 82% 57%;
  }

  .dark {
    --background: 223 50% 8%;
    --foreground: 0 0% 100%;
    --card: 222 45% 13%;
    --card-foreground: 0 0% 100%;
    --popover: 222 45% 13%;
    --popover-foreground: 0 0% 100%;
    --primary: 40 89% 69%;
    --primary-foreground: 40 40% 15%;
    --secondary: 222 45% 13%;
    --secondary-foreground: 0 0% 100%;
    --muted: 222 45% 13%;
    --muted-foreground: 215 25% 69%;
    --accent: 222 45% 13%;
    --accent-foreground: 40 89% 69%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 45% 13%;
    --input: 222 45% 13%;
    --ring: 40 89% 69%;
    --radius: 0.75rem;
    --chart-1: 40 89% 69%;
    --chart-2: 160 60% 45%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 262 82% 57%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 5% 15%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 5% 15%;
    --sidebar-ring: 262 82% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
