@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 82% 5%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 203 93% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 11%;
    --muted-foreground: 210 20% 65%;
    --accent: 222 47% 11%;
    --accent-foreground: 200 89% 48%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 47% 15%;
    --input: 222 47% 11%;
    --ring: 200 89% 48%;
    --radius: 0.75rem;
    --chart-1: 203 93% 60%;
    --chart-2: 200 89% 48%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 262 82% 57%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 5% 15%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 5% 15%;
    --sidebar-ring: 262 82% 57%;
  }

  .dark {
    --background: 220 82% 5%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 203 93% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 11%;
    --muted-foreground: 210 20% 65%;
    --accent: 222 47% 11%;
    --accent-foreground: 200 89% 48%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 47% 15%;
    --input: 222 47% 11%;
    --ring: 200 89% 48%;
    --radius: 0.75rem;
    --chart-1: 203 93% 60%;
    --chart-2: 200 89% 48%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 262 82% 57%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 5% 15%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 5% 15%;
    --sidebar-ring: 262 82% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
